@import './root';

main {
    & .insights {

        & .row {
            gap: 20px;
        }

        & .cards {
            padding: 30px 20px;
            border-radius: 10px;
            background: $card;
            display: flex;
            align-items: center;
            border: 1px solid $line;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            gap: 20px;

            & .icon {
                width: 46px;
                height: 46px;
                border-radius: 50%;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;

                & span {
                    font-size: 24px;
                }
            }

            & .content {
                & h6 {
                    font-size: 15px;
                }

                & h3 {
                    font-weight: 700;
                    margin: 10px 0;
                }

                & p {
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    gap: 4px;
                    margin-bottom: 0;
                    color: $success;

                    & .material-icons {
                        font-size: 16px;
                    }

                    &.expenses {
                        color: $danger;

                        & .material-icons {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}