$background:#161d31;
$card:#283046;
$text:#676d7d;
$text-light:#b4b7bd;
$primary:#7367f0;
$primary-bg:rgba(115, 103, 240, .12);
$white:#d0d2d6;
$info:#00cfe8;
$info-bg:rgba(0, 207, 232, .12);
$danger:#ea5455;
$danger-bg:rgba(234, 84, 85, .12);
$success:#28c76f;
$success-bg:rgba(40, 199, 111, .12);
$warning:#ff9f43;
$warning-bg:rgba(242, 153, 74, 0.1);
$line:#3b4253;
$overlay:rgba(34, 41, 47, .5);
$sidebar-bg:$card;
$CubicBezier: cubic-bezier(0.46, 0.03, 0.52, 0.96);
$BoxShadow_2_4: 0 2px 4px;
$RGBA_02: rgba(0, 0, 0, 0.2);
$RGBA_03: rgba(0, 0, 0, 0.3);
$BoxShadow_6_12:0 6px 12px;
$RGBA_06: rgba(0, 0, 0, 0.6);
$BoxShadow_03:0 0 3px;